@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* common.css - common to all pages on this website */

/***************************************************************
*                                                              *
*  BODY                                                        *
*                                                              * 
*  This portion of the code affects the whole document, in     *
*  in particular the background and anything to do with        *
*  spacing around the edges.                                   *
*                                                              *
***************************************************************/

body
{
  /* No margin at the top or bottom of the body. Having margins hear shows an awkward gap showing a tiny part of the background. */
  margin-top:0;
  margin-bottom:0;
	
  /* sans-serif font used by default throughout the document */
  font-family:sans-serif;
	
  /* background.png is the background image, it does not scroll and it's the full size of the page  */
  background-image: url('../images/background.png');
  background-attachment:fixed;
  background-size:100%;
  
  /* Maximum width of 1024px, the information (everything other than the background image) on the page is centred. */
  max-width:1024px;
  margin-left:auto;
  margin-right:auto;
}

/* Background colour and padding for all of the page sections */
main,
header,
nav
{
  background-color:#ffffff;
  padding-left:16px;
  padding-right:16px;
}

main
{
  padding:0;
  margin:0;
} 

/***************************************************************
*                                                              *
*  HEADER                                                      *
*                                                              * 
*  The header is the area above the navigation bar containing  *
*  the Robert Gordon University logo, the Quick Links menu     *
*  and the search box.                                         *
*                                                              *
***************************************************************/

header
{
  padding-top:16px;
  height: 150px;
}


/***********************************************
*                                              *
*  QUICK LINKS                                 *
*                                              *
*  This is the menu shown at the top right of  *
*  the screen, above the search box and to     *
*  the right of the Robert Gordon University   *
*  logo                                        *
*                                              *
***********************************************/

#quickLinks
{
  float: right;
}

#quickLinks li
{
  /* Standard method of making a list into a menu, with all the links side by side. */
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  
  /* Spacing between links */
  margin: 8px;
}

#quickLinks a
{
  /* Setting default colour for links and removing underline which appears by default for links */
  text-decoration: none;
  color: #aaaaaa;
}

#quickLinks a:hover,
#quickLinks a:focus
{
  /* Links change to this colour when moused over or selected */
  color: #770077;
}

/***********************************************
*                                              *
*  SEARCH BOX                                  *
*                                              *
*  This code affects the search box below the  *
*  quick links area.                           *
*                                              *
***********************************************/

#mySearch
{
  float:right;
  color: #770077;
  
  /* Rounds the corners */
  border-radius: 10px;
  
  margin-left:8px;
  margin-right:8px;
}

#mySubmit
{
  float:right;
  background-color: #770077;
  color: #ffffff;
  
  /* Rounds the corners to match the text box. */
  border-radius: 10px;
  
  border-color: #ffffff;
  margin-left:8px;
  margin-right:8px;
}

/***************************************************************
*                                                              *
*  FOOTER                                                      *
*                                                              * 
*  The footer is the area below the main part of the page. It  *
*  has a 'Connect with Us' header, social media links and an   *
*  assortment of other links. It also contains the copyright   *
*  note.                                                       *
*                                                              *
***************************************************************/

footer
{
  background-color: #ffffff;
  color: #770077;
  text-align: center;
}

/***********************************************
*                                              *
*  ASSORTED LINKS                              *
*                                              *
*  List of links to information such as the    *
*  privacy policy, copyright and the site      *
*  map.                                        *
*                                              *
***********************************************/

#assortedLinks a
{
  text-decoration: none;
  color: #aaaaaa;
  margin: 20px;
}

#assortedLinks a:hover
{
  color:#770077;
}

/***********************************************
*                                              *
*  SOCIAL MEDIA LINKS                          *
*                                              *
*  Links to the various social media profiles  *
*  of the University.                          *
*                                              *
***********************************************/

#socialMedia h3
{
  font-family: "Oswald", sans-serif;
  color: #aaaaaa;
}

#socialMedia a
{
  /* The lack of text decoration removes underlines which were appearing in between the images */
  text-decoration: none;

  /* 50% opacity */
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

#socialMedia a:hover,
#socialMedia a:focus
{
  /* 100% opacity when moused over or selected. */
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

#socialMedia img
{
  /* Social media icons have equal height, width and margin. */
  height: 40px;
  width: 40px;
  margin: 10px;
}

/***********************************************
*                                              *
*  THE COPYRIGHT NOTICE                        *
*                                              *
*  This is the notice at the bottom of all     *
*  web pages                                   *
*                                              *
***********************************************/

#copyright
{
  background-color: #770077;
  color: #ffffff;
}

/***************************************************************
*                                                              *
*  ANYTHING ELSE USED COMMONLY                                 *
*                                                              * 
*  Things such as the article class which are used on most     *
*  pages. These are all used throughout the website.           *
*                                                              *
***************************************************************/

/***********************************************
*                                              *
*  ARTICLES                                    *
*                                              *
*  Used at the sides of pages. Essentially a   *
*  section at the side containing information  *
*                                              *
***********************************************/

.article
{
  width:100%;
  height:100%;
  border-color: #781C7D;
  border-style: outset;
  margin-bottom: 20px;
  padding-left:5px;
  padding-right:5px;
}
