header{
    background-color: rebeccapurple;
}

section{
    background-color: darkmagenta;
}

footer{
    background-color: aqua;
}

nav{
    background-color: darkred;
}

#quicklinkContainer{
    background-color: blue;
}
