#image-scroller
{
  width:100%;
  background-color:#000000;
  height:400px;
  z-index:0;
  position:relative;
}

#image-scroller > img
{
  display:block;
  margin:auto;
  height:100%;
}

#image-scroller > a
{
  height:100%;
  text-decoration:none;
  color:#ffffff;
  font-size:24pt;
  vertical-align:middle;
  display:block;
}

#image-scroller > a:focus
{
  outline:none;
}

#jqprevimage
{
  float:left;
}

#jqnextimage
{
  float:right;
}
