@import url('https://fonts.googleapis.com/css?family=Bungee');

.mainnews
{
    width: 500px;
    height: 670px;
    float: left;
    margin-bottom: 30px;
    margin-left:20px;
    margin-right: 5px;
    margin-right:30px;
}
.mainnews:hover
{
    background-color: #770077;
}
.news2
{
    height:200px;
    width: 400px;
    margin-bottom: 30px;
}

#headerban
{
    height: 300px;
    width: 960px;
    margin-left:20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top:20px;
}

/* For courses page * DO NOT REMOVE THIS COMMENT * */

.courseInfo
{
	width:44%;
	margin:1%;
	padding:1%;
	display:inline-block;
}

.courseInfo img
{
	float:left;
	padding-right:5px;
}

.videoLink
{
	float:right;
}

#contactInfo{
    float: right;
    padding-right:5px;
}

#SupportForm{
    padding-left:5px;
}