#lecturers {
    width:300px;
    float:left;
    padding-right:10px;
}
#winners {
    width:200px;
    float:left;
    padding-right:10px;
}
#sirianwoodbuilding {
    width:200px;
    float:left;
    padding-right:10px;
}
#SIWBCorridor {
    width:100%;
    float:left;
    padding-right:10px;
}
#openDay {
    width:200px;
    float:left;
    padding-right:10px;
}
#staff {
    width:100%;
    padding-right:10px;
}
