#lecturers {
    width:300px;
    float:left;
    padding-right:10px;
}
#winners {
    width:200px;
    float:left;
    padding-right:10px;
}
#sirianwoodbuilding {
    width:200px;
    float:left;
    padding-right:10px;
}
#sirIanCorridor {
    width:100%;
    float:left;
    margin-bottom: 20px;
    border:1px solid #000000;
}
#openDay {
    width:200px;
    float:left;
    padding-right:10px;
}
#staff {
    width:100%;
    padding-right:10px;
}
#lab {
    width:50%;
    padding-right:10px;
}

#library {
    width: 200px;
    float: left;
    padding-right: 10px;
}
#maclab{
    height:200px;
    width: 400px;
    margin-left: 50px;
    margin-bottom: 30px;
}
