@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Oswald');
/* CSS Document */

body{
	margin-left:auto;
	margin-right:auto;
	font-family:sans-serif;
	max-width: 1000px;
}

#rgulinks li{
		list-style-type: none;
		text-decoration: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		display: inline;
	}
#rgulinks li a{
	text-decoration: none;
	color: darkgray;
	margin: 8px;
}
#rgulinks li a:hover{
	text-decoration: none;
	color: darkmagenta;
}

header{
	height: 150px;
}

header #imageContainer{
	float: left;
}

header #quicklinkContainer{
	float: right;
}

.clearfix {
	overflow: auto;
}
#mySearch{
	float: right;
	color: #770077;
    border-radius: 10px;
}
#mySubmit{
	float: right;
	background-color: #770077;
	color: white;
    border-radius: 10px;
	border-color: white;
}
#maincontainer{
	height: 400px;
}
footer{
	background-color: white;
	color: darkmagenta;
	text-align: center;
    border-radius: 5px;
	height: 300px;
}

#directorycont a{
	align-content: center;
	text-decoration: none;
	color: darkgray;
	margin: 20px;
}

#directorycont a:hover{
	color:darkmagenta;
}

#copywrite{
    background-color: black;
    border-radius: 5px;
	color: white;

}
a.socialmedia img{
    height: 30px;
    width: 30px;
    margin: 10px;
}
a.socialmedia{
    text-decoration: none;
    opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}
a.socialmedia:hover{
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}
#title{
	font-family: "Oswald";
}

.articleTitle{
	font-family: "Oswald";
    color: #781C7D;
}

.article{
	width:300px;
	height:150px;
	border-color: #781C7D;
	border-style: solid;
}


.article2{
	width:300px;
	height:150px;
	border-color: #781C7D;
	border-top-color: white;
	border-style: solid;

}
