

#lecturers {
    width: 300px;
    float: left;
    padding-right: 10px;
}

#chrisina {
    width: 625px;
    float: right;
    padding-right: 10px;
}
#winners {
    width:200px;
    float:left;
    padding-right: 10px;
}
#winners2 {
    width: 200px;
    float:left;
    padding-right:10px;
}